/*General Layout*/
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-size: 18px;
}

main {
	display: flex;
	width: 100%;
	min-height: 100vh;
	font-family: sans-serif;
}

/*sidebar*/
.sidebar  {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 1;
	gap: 3px;

	max-width: 275px;
	padding: 15px;

	background-color: rgb(229, 230, 231);
	border-right: 1px solid lightgray;
}

/*add form*/
.project-add {
	margin: 5px 5px 5px 25px;
}

.project-add-button, .project-add-label {
	display: none;
}

.project-add-input {
	text-align: center;
	height: 24px;
}


/*project list styling*/
.project-element {
	display: flex;
	flex-wrap: nowrap;
	word-wrap: break-word;
	width: 100%;
}

.project-edit {
	flex: 1;
	background: none;
  border: none;
  padding: 0;
	font-size: 20px;
	max-width: 25px;;
}

.project-remove {
	flex: 1;
	font-size: 20px;
	color: red;
	background: none;
  border: none;
  padding: 0;
	font-weight: 900;
	max-width: 25px;;
}

.project-name {
	align-self: flex-end;
	flex: 5;
	max-width: 225px;
	word-wrap: break-word;
}

.project-name.editable {
	border: 1px solid black;
	border-radius: 5px;
}


/*todo section*/
.todos {
  /*min-height: 100%;*/
	flex: 5;
	background-color: slategray;
}

.todo-list {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex: 5;
	min-height: 100%;
	padding: 10px;
	align-content: flex-start;
	background-color: slategray;
}

/*sort bar*/
.sort-bar {
	display: flex;
	justify-content: space-between;
	background-color: lightgray;
	border: 1px solid gray;
	border-radius: 3px;
	width: 100%;
	flex: 0 1 auto;
	margin-bottom: 10px;
}

.sort-title, .sort-description, .sort-priority, .sort-duedate {
	flex: 1;
	text-align: center;
	padding: 3px;
	margin-left: 5px;
	margin-right: 5px;
}

.sort-title, .sort-description, .sort-duedate {
	border-right: 1px solid gray;
}

.sort-add {
	flex: 1;
	max-width: 20px;;
	background: none;
  border: none;
  padding: 0;
	font-size: 20px;
	margin-left: 5px;
	margin-right: 5px;
}

/*Todo Elements*/
.todo-element {
	display: flex;
	justify-content: space-between;
	background-color: rgb(229, 230, 231);
	border: 1px solid lightgray;
	border-radius: 5px;
	flex: 0 1 auto;
	word-wrap: break-word;
	margin-bottom: 5px;
}

.todo-title, .todo-description, .todo-priority, .todo-duedate {
	flex: 1;
	width: 25%;
	word-wrap: break-word;
	text-align: center;
	margin: 5px;
}

.todo-description {
	text-align: left;
}

.todo-title, .todo-description, .todo-duedate {
	border-right: 2px solid lightgray;
}

.todo-title.editable, 
.todo-description.editable, 
.todo-priority.editable, 
.todo-duedate.editable {
	border: 1px solid black;
	border-radius: 3px;;
}



/*Todo Editor*/
.todo-edit {
	flex: 1;
	max-width: 20px;
	background: none;
  border: none;
  padding: 0;
	font-size: 20px;
	margin-left: 5px;
	margin-right: 5px;
}

.todo-submit {
	flex: 1;
	max-width: 20px;
	background: none;
  border: none;
  padding: 0;
	font-size: 20px;
	margin-left: 5px;
	margin-right: 5px;
	color: green;
	font-weight: 900;
}